# use glob syntax.
syntax: glob

.vs/
env/
build/
*\obj\*bin
*test\testPaths.hpp*
*src\testPaths.hpp*
*-Debug*
*MANIFEST
*.cache
*.dep
*.dll
*.exe
*.htm
*.idb
*.idc
*.ilk
*.ipch
*.lastbuildstate
*.lib
*.log
*.manifest
*.map
*.ncb
*.obj
*.opensdf
*.orig
*.out
*.pch
*.pdb
*.pyc
*.rc
*.res
*.sdf
*.suo
*.tlog
*.unsuccessfulbuild
*.user
*.rej
*.zip
*.7z
